* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background: #f5f3f3;
}

/*----------
------titulo------
-----------*/

.titulo h1 {
  font-size: 1.1em;
  font-weight: bold;
  padding-top: 20px;
  text-align: center;
}

.titulo p {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  color: #939393;
  margin-bottom: 20px;
}

/*----------
------menu------
-----------*/

nav {
  position: fixed;
  width: 40%;
  z-index: 10;
  left: -50%;
  top: 0;
  padding: 10% 0 0 5%;
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  transition: all .6s;
}

nav.mostrar {
  left: 0;
}

#mostrar_barra {
  position: fixed;
  width: 32px;
  height: 32px;
  top: 10px;
  left: 10px;
  z-index: 30;
  background: url('../img/barraegra.png');
}

.menu {
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.menu li {
  flex: auto;
}

.menu li a {
  width: fit-content;
  padding: 0 10px;
  font-weight: bold;
  text-decoration: none;
  color: #9b9b9b;
  display: block;
  line-height: 3;
  border-radius: 20px;
}

.menu li a:hover {
  background: rgba(0, 0, 0, 0.1);
}

/*----------
------cuerpo------
-----------*/

.contenedor {
  border-radius: 30px;
  margin: 10px 20%;
  cursor: pointer;
  display: flex;
  width: 60%;
  box-sizing: border-box;
  background: #fff;
}

.contenedor .imagen,
.descripcion_p {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.cont_img {
  width: 100%;
  position: relative;
  left: calc((100% + 20px) - (50%));
  transition: all 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.descripcion_p {
  margin: 20px 20px 20px 0px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor .imagen .cont_img img {
  max-width: 100%;
  border-radius: 20px;
}

.contenedor .descripcion_p h1 {
  text-align: center;
  padding-bottom: 20px;
}

.contenedor .descripcion_p p {
  text-align: justify;
}

.contenedor .descripcion_p h1,
.contenedor .descripcion_p p,  
.contenedor .descripcion_p button{
  position: relative;
  left: 110%;
  transition: all 1s;
}

.contenedor .descripcion_p button {
  border-radius: 20px;
  border: none;
  background: #fff;
}

.contenedor .descripcion_p button a{
  border: none;
  border-radius: 20px;
  display: block;
  padding: 0px 20px;
  line-height: 3;
  text-decoration: none;
  font-weight: bold;
  color: #939393;
}

.contenedor:hover .imagen .cont_img {
  left: 0;
}

.contenedor:hover .descripcion_p h1,
.contenedor:hover .descripcion_p p,
.contenedor:hover .descripcion_p button  {
  left: 0%;
}

.contenedor .descripcion_p button:hover a {
  background:rgba(0, 0, 0, 0.1);
}


/*----------
------Pc Menu------
-----------*/

@media screen and (min-width: 800px) {
  .titulo h1 {
    font-size: 2em;
  }

  .titulo p {
    font-size: 1em;
  }

  #mostrar_barra {
    display: none;
  }

  nav {
    padding: 0;
    left: 0;
    width: auto;
    position: relative;
    margin: 0px 15%;
    background: none;
  }

  .menu {
    padding: 0 10%;
    display: flex;
    border-top: none;
    border-bottom: none;
  }

  .menu li {
    flex: auto;
    text-align: center;
  }
  
  .menu li a {
    font-weight: bold;
    text-decoration: none;
    color: #9b9b9b;
    display: block;
    line-height: 3;
    border-radius: 20px;
  }
  
  .menu li a:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  .contenedor .imagen {
    display: flex;
  }
}

/*----------
------movil------
-----------*/

@media screen and (max-width: 450px) {
  .contenedor {
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
  }

  .contenedor .imagen,
  .descripcion_p {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contenedor .imagen {
    padding: 20px;
  }

  .contenedor .imagen .cont_img {
    width: 100%;
    position: relative;
    left: 0;
  }

  .contenedor .descripcion_p {
    padding: 0;
    margin: 0;
  }

  .contenedor .descripcion_p .contenedor_des {
    margin: 0px 20px 20px 20px;
    overflow: hidden;
    padding: 0;
    box-sizing: border-box;
  }

  .contenedor .descripcion_p .contenedor_des p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .contenedor .imagen img {
    width: 100%;
  }

  .descripcion_p {
    margin: 0px 20px 20px 20px;
  }
}

/*----------
------tablet------
-----------*/

@media screen and (min-width: 451px) and (max-width: 799px) {
  .contenedor {
    width: 80%;
    padding: 0;
    margin: 10px 10%;
    display: block;
  }

  .contenedor .imagen {
    width: 100%;
  }

  .contenedor .imagen .cont_img {
    width: 100%;
    position: relative;
    left: 0;
  }

  .contenedor .descripcion_p {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .contenedor .descripcion_p .contenedor_des {
    width: 100%;
    margin: 0px 20px 20px 20px;
    box-sizing: border-box;
    overflow: hidden;
  }

  .contenedor .imagen img {
    width: 100%;
  }

  .descripcion_p {
    margin: 0px 20px 20px 20px;
  }
}
